<!-- Aula 29/05/2025 -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>position</title> 

    <style>
       
       #div1{
        background-color: rgba(255, 0, 0, .5);
        padding: 10px;
        width: 50%;
        position: sticky;
        height: 200px;
        top: 0;
       }
       #div2{
        background-color: rgba(0, 255, 0, .5);
        padding: 10px;
        width: 80%;
        height: 50px;
        position: static;
       }
       #div3{
        background-color: rgba(0, 0, 255, .5);
        padding: 10px;
        width: 30px;
        height: 30px;
        position: static;
        top: 20px;
        right: 0;
       }

    </style>

</head>
<body>
<p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facere ullam, dolore iusto aliquam excepturi omnis fugiat. Quisquam deserunt voluptates optio culpa consectetur illo. Sequi velit dolorem qui consequuntur impedit.</p>
<p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facere ullam, dolore iusto aliquam excepturi omnis fugiat. Quisquam deserunt voluptates optio culpa consectetur illo. Sequi velit dolorem qui consequuntur impedit.</p>
<p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facere ullam, dolore iusto aliquam excepturi omnis fugiat. Quisquam deserunt voluptates optio culpa consectetur illo. Sequi velit dolorem qui consequuntur impedit.</p>
<p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facere ullam, dolore iusto aliquam excepturi omnis fugiat. Quisquam deserunt voluptates optio culpa consectetur illo. Sequi velit dolorem qui consequuntur impedit.</p>
<p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facere ullam, dolore iusto aliquam excepturi omnis fugiat. Quisquam deserunt voluptates optio culpa consectetur illo. Sequi velit dolorem qui consequuntur impedit.</p>
<p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facere ullam, dolore iusto aliquam excepturi omnis fugiat. Quisquam deserunt voluptates optio culpa consectetur illo. Sequi velit dolorem qui consequuntur impedit.</p>
<p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facere ullam, dolore iusto aliquam excepturi omnis fugiat. Quisquam deserunt voluptates optio culpa consectetur illo. Sequi velit dolorem qui consequuntur impedit.</p>
<p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facere ullam, dolore iusto aliquam excepturi omnis fugiat. Quisquam deserunt voluptates optio culpa consectetur illo. Sequi velit dolorem qui consequuntur impedit.</p>
<p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facere ullam, dolore iusto aliquam excepturi omnis fugiat. Quisquam deserunt voluptates optio culpa consectetur illo. Sequi velit dolorem qui consequuntur impedit.</p>
<p>    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis facere ullam, dolore iusto aliquam excepturi omnis fugiat. Quisquam deserunt voluptates optio culpa consectetur illo. Sequi velit dolorem qui consequuntur impedit.</p>

<div id="div1">
    1
    <div id="div2">
        2
        <div id="div3">3</div>
    </div>
</div>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quod deleniti nihil nesciunt incidunt quidem assumenda a deserunt iste, placeat ipsa eligendi est repudiandae ea officia commodi corrupti harum magni!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quod deleniti nihil nesciunt incidunt quidem assumenda a deserunt iste, placeat ipsa eligendi est repudiandae ea officia commodi corrupti harum magni!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quod deleniti nihil nesciunt incidunt quidem assumenda a deserunt iste, placeat ipsa eligendi est repudiandae ea officia commodi corrupti harum magni!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quod deleniti nihil nesciunt incidunt quidem assumenda a deserunt iste, placeat ipsa eligendi est repudiandae ea officia commodi corrupti harum magni!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quod deleniti nihil nesciunt incidunt quidem assumenda a deserunt iste, placeat ipsa eligendi est repudiandae ea officia commodi corrupti harum magni!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quod deleniti nihil nesciunt incidunt quidem assumenda a deserunt iste, placeat ipsa eligendi est repudiandae ea officia commodi corrupti harum magni!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quod deleniti nihil nesciunt incidunt quidem assumenda a deserunt iste, placeat ipsa eligendi est repudiandae ea officia commodi corrupti harum magni!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quod deleniti nihil nesciunt incidunt quidem assumenda a deserunt iste, placeat ipsa eligendi est repudiandae ea officia commodi corrupti harum magni!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quod deleniti nihil nesciunt incidunt quidem assumenda a deserunt iste, placeat ipsa eligendi est repudiandae ea officia commodi corrupti harum magni!</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur quod deleniti nihil nesciunt incidunt quidem assumenda a deserunt iste, placeat ipsa eligendi est repudiandae ea officia commodi corrupti harum magni!</p>

</body>
</html>